<ul>
    <!-- <li><strong>Fully Automatic Photo Booth:</strong> Make group shots a breeze with our AI-driven, fully automated photo booth. You just need a smartphone and a ring light. This is a reason to buy Premium alone!</li> -->
    <li><strong>AI Safety:</strong> Enable automatic moderation with AI based safety filters</li>
    <li><strong>Moderate on your smartphone:</strong> Moderate from anywhere, not just the wall, and delegate to multiple moderators.</li>
    <li><strong>Delay publish:</strong> Require approval from a moderator before photos are displayed on the wall.</li>
    <li><strong>Social Media Sharing:</strong> Moderators can easily share the best shots to your official social media channels.</li>
    <li><strong>1 Year Photo Storage:</strong> We keep your photos safe for one year (as opposed to 1 week for free)</li>
    <li><strong>Download Your Photos:</strong> Easily download all of your photos after your event to save wherever you want.</li>
</ul>